#!/bin/bash

#cd {{ eosio_bios_dir }}
#pwd

#./eos-bios --use-cache boot

#echo "Would have run:"
#echo "./eos-bios join"


{% for host in groups['producers'] -%}
cleos create account eosio {{ host }} {{ hostvars[host]['pub_key'] }} {{ hostvars[host]['pub_key'] }}
cleos push action eosio setprods '{ "version": "042918","producers": [{"producer_name":"{{ host }}","block_signing_key":"{{ hostvars[host]['pub_key'] }}"}] }' -p eosio 
{% endfor -%}
