#!/bin/bash

PIDFILE={{ nodeos_spool_dir }}/{{ nodeos_pid_file }}

start () {
    echo "starting..."
    nodeos --genesis-json {{ nodeos_data_dir }}/genesis.json --data-dir {{ nodeos_data_dir }} --config-dir {{ nodeos_config_dir }} &>> {{ nodeos_log_file }} &
    echo "$!" > $PIDFILE
}

stop () {
    echo "stopping..."
    kill `cat $PIDFILE`
}

export PATH=/usr/local/bin:/usr/bin:/bin

if [ $# -ne 1 ]; then
    echo "Invalid number of args: $# given 1 acceptable"
    exit 1
fi

case $1 in
    "start")
        start ;;
    "stop")
        stop ;;
    "restart")
        start
        sleep 5s
        stop ;;
    *)
        echo "$1 is an invalid command"
        echo "Please use one of: start, stop, restart"
esac



