
genesis-json = {{ nodeos_config_dir }}/genesis.json

# ID of producer controlled by this node (e.g. inita; may specify multiple times)
producer-name = {{ producer_name }}
# Tuple of [public key, WIF private key] (may specify multiple times)
private-key = ["{{ pub_key }}","{{ priv_key }}"]

# The actual host:port used to listen for incoming p2p connections.
p2p-listen-endpoint = 0.0.0.0:{{ nodeos_p2p_port }}

# The name supplied to identify this node amongst the peers.
agent-name = "{{ agent_name }}"

enable-stale-production = true

plugin = eosio::producer_plugin
plugin = eosio::chain_api_plugin
plugin = eosio::http_plugin