#!/bin/bash

# `join_network` hook:
# $1 = p2p_address
# $2 = public key for this node (the one you published in your discovery file)
# $3 = private key for this node (loaded from `block_signing_private_key_path`)
# $4 = genesis_json
# $5 = producer-name list (in case you've been cloned), like: "producer-name = hello\nproducer-name = hello.a"
# $6 = producer-name you should handle, split by comma

echo "Killing running nodes"
killall nodeos

echo "Removing old nodeos data (you might be asked for your sudo password)..."
sudo rm -rf /tmp/nodeos-data

echo "Writing genesis.json"
echo $4 > {{ nodeos_config_dir}}/genesis.json

echo "Copying base config"
# Your base_config.ini shouldn't contain any `producer-name` nor `private-key` nor `enable-stale-production` statements.
cp base_config.ini {{ nodeos_config_dir}}/config.ini
echo "p2p-peer-address = $1" >> {{ nodeos_config_dir}}/config.ini
echo "$5" >> {{ nodeos_config_dir}}/config.ini
echo "private-key = [\"$2\",\"$3\"]" >> {{ nodeos_config_dir}}/config.ini
echo $6 >> {{ nodeos_config_dir}}/config.ini
echo "Removing old nodeos data (you might be asked for your sudo password)..."
sudo rm -Rf {{ nodeos_data_dir }}/blocks
sudo rm -Rf {{ nodeos_data_dir }}/shared_memory

echo "Running 'nodeos'"
sudo service nodeos start

echo ""
echo "   View logs with: tail -f {{ eosio_log_dir }}"
echo ""

echo "Waiting for nodeos to launch"
sleep 10
